@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --dark-gray: #1a2a32;
  --gray: #2e4756;
  --turquoise: #3cc4bf;
  --yellow: #f2b147;
  --light-gray: #d3d3d3;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: "Montserrat",sans-serif;
}

html,
body {
  height: 100%;
  background-color: var(--dark-gray);
}

body {
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Parent Div*/
.grid{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: 50px repeat(3, 80px) 60px;
    gap: 5px;
}

/*Turn of Player*/
.turn{
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 3;
}

/*For Large Screen Devices*/
@media (min-width: 768px) {
  .grid {
    width: 490px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 50px repeat(3, 150px) 60px;
    gap: 20px;
  }
}

/*Game Board*/

.square{
  background-color: red;
}

.score{
  background-color: blue;
}

.actions{
  background-color: purple;
}

/* Footer styles */

footer {
  color: white;
  margin-top: 50px;
}

footer p {
  margin-top: 10px;
  text-align: center;
}

footer a {
  color: var(--yellow);
}